Checks: '
    *,
    -altera-id-dependent-backward-branch,
    -altera-struct-pack-align,
    -altera-unroll-loops,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -hicpp-no-array-decay,
    -llvmlibc-callee-namespace,
    -llvmlibc-implementation-in-namespace,
    -llvmlibc-restrict-system-libc-headers,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
'